.table {
  margin-top: 20px;
  overflow: scroll;
  color: #f3f5f0;
  background-color: rgb(233, 219, 219);
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #605f64;
}
